.project {
     min-height: 30vh;
     background-size: cover;
     position: relative;
     background-color: #010f25;
     color: #FFFFFF;
     padding: 140px 20px;
}
.pr-header{
  color:cornflowerblue;
  font-size:60px ;
  padding-bottom: 50px;
}

.pr-header button {
  align-items:end;
}

.pr-header span {
  padding: 20px 20px;
  font-size: 25px;
}
  
.project p {
    justify-content: flex-end;
    font-size:20px ;
    color:#FFFFFF;
    font-family: 'Manrope', sans-serif;
    text-align: justify;
}

.project img {
    width: 120%;
    height: 110%;
    padding-bottom: 2.5rem;
}

.third-img img{
  width: 80%;
  height:100%;
  
}

.carousel-inner h1 {
    font-size: 40px;
    color:chartreuse;
    font-family: 'Manrope', sans-serif;
    padding-top: 1rem;
}

.carousel-inner a {
    color:yellow;
    font-family: 'Manrope', sans-serif;
    text-decoration: none;
    font-size: 18px;

    &.active,
    &:hover {
      color:deeppink;
    }

    &.active {
      font-weight: 500;
    }
}

