.project {
     min-height: 30vh;
     background-size: cover;
     position: relative;
     background-color: #010f25;
     color: #FFFFFF;
     padding: 140px 20px;
}
  
.project p {
    justify-content: flex-end;
    font-size:18px ;
    color:#FFFFFF;
    font-family: 'Manrope', sans-serif;
}

.project img {
    width: 110%;
    height: 110%;
    border-color: #FFFFFF;
    padding-bottom: 8rem;
}

.carousel-inner h1 {
    font-size: 40px;
    color: #df0647;
    font-family: 'Manrope', sans-serif;
    padding-top: 1rem;
}

.carousel-inner a {
    color:cornflowerblue;
    font-family: 'Manrope', sans-serif;
    text-decoration: none;

    &.active,
    &:hover {
      color: #FFAA33;
    }

    &.active {
      font-weight: 500;
    }
}

