<<<<<<< HEAD
.btn-started button {
=======
{/* .btn-get-started button{
>>>>>>> 4b6ca2c2a1a1fa75dcbdb7f1afa83f2b523adddf
  flex:0.6;
  width:60%;
  min-height:50px;
  
  color: #ffffff;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 18px;
  border:none;
  padding: 12px 40px;
  border-radius: 4px;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: 0.3s;
  background: rgba(0, 188, 151, 1);
  

}

*/}
