.ab__header {
     width: 100%;
     min-height: 30vh;
     background-size: cover;
     position: relative;
     background-color: #021430;
     color: #FFFFFF;
     padding: 100px 20px;
}

.ab__header h1 {
     color: rgb(82, 185, 245) ;
     font-size: 40px;
     font-family: 'Manrope', sans-serif;
}

.ab__header h2 {
     line-height: 55px;
     color:rgb(245, 117, 82);
     font-size: 35px;
     font-family: 'Manrope', sans-serif;
}

.ab__header p {
     font-family: 'Manrope', sans-serif;
     font-size: 20px;
     text-align: justify;
}
.ab__header img {
     width:55%;
     height:65%;
     border-radius: 10px;
}

.ab__header a {
     text-decoration: none;
     color: rgb(255, 196, 0);

     &.active,
      &:hover {
        color: rgba(255, 4, 63, 0.619);
      }

      &.active {
        font-weight: 500;
      }
}

.logo_img {
     width: 30%;
     height: 25%;
}

.grid-container {
     display: grid;
     grid-template-columns: 130px 130px 130px 130px 130px;
     gap: 20px;
     background-color:transparent;
     padding: 30px;
     padding-left: 5px;
   }

@media screen and (max-width:425px) {
     .ab__header img {
          width:40%;
     }

     .grid-container {
          grid-template-columns: 100px 100px 100px;
          gap: 10px;
     } 
     .logo_img {
          height: 20%;
     }
     .logo_img p {
          font-size: 13px;
     }
}

@media screen and (max-width:550px) {
     .ab__header img {
          width:40%;
     }

     .grid-container {
          grid-template-columns: 100px 100px 100px;
          gap: 10px;
     } 
}