@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar__header-icon {
    display: flex;
    padding:0 2rem;
}

.navbar__header-icon h1 {
    display: inline-block;
    vertical-align: middle;
    color: #FFAA33;
    font-size:35px;
    font-family: 'Pacifico', cursive;
    
}


.navbar__header-icon img {
    padding-right: 0.3rem;
    width: 50px;
    height: 50px;  
    cursor: pointer;  
}


.nav__links a {
    color: #92eff5;
    font-family: 'Manrope', sans-serif;
    flex-direction: row;
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 25px;
    font-weight: 500;
    font-size: 25px;
    

    &.active,
      &:hover {
        color: rgba(255, 4, 63, 0.619);
        background-color: transparent;
      }

      &.active {
        font-weight: 500;
      }
    }

@media screen and (max-width:425px) {
  .navbar__header-icon {
    padding: 0;
  }
}

@media screen and (max-width:550px) {
  .navbar__header-icon {
    padding: 0;
  }
}
