.contact__body {
    background-color:  #000000;
    padding: 150px 20px;
}

.contact__body img {
    width: 125%;
    height: 125%;
}

.contact__body p {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Manrope', sans-serif;
    padding-left: 6rem;
    text-align: justify;
    
}

.contact__body h2 {
    color:salmon;
    font-family: 'Manrope', sans-serif;
    padding-left: 6rem;
}

.contact__text {
    padding-top: 8rem;
}

.contact__text img {
    width:30px;
    height:30px;
    padding-top: 0.4rem;
    
}
.contact__text a {
    text-decoration: none;
     color: rgb(255, 196, 0);

     &.active,
      &:hover {
        color: rgba(255, 4, 63, 0.619);
      }

      &.active {
        font-weight: 500;
      }
}



@media screen and (max-width:425px) {
    .contact__body {
        padding: 60px 5px;
    }

    .contact__body img {
       width: 90%;
       height: 90%;
       padding-left:3.5rem;
    }

    .contact__body p {
        font-size: 14px;
        padding-left: 1rem;
        
    }
    .contact__body h2 {
        font-size: 18px;
        padding-left: 1rem;
        
    }
}

@media screen and (max-width:550px) {
    .contact__body {
        padding: 130px 5px;
    }
    .contact__body img {
       width: 90%;
       height: 90%;
       padding-left:3.5rem;
    }

    .contact__body p {
        font-size: 14px;
        padding-left: 2.5rem;
        
    }
    .contact__body h2 {
        font-size: 18px;
        padding-left: 2.5rem;
        
    }
}
