.hero {
  width: 100%;
  min-height: 30vh; 
  background-size: cover;
  position: relative;
  padding: 170px 0 170px 0;
  
}

.hero h1 {
  margin: 0 0 10px 0;
  font-size: 38px;
  font-weight: 700;
  color: #fff;
  padding-top: 7rem;
  font-family: 'Manrope', sans-serif;
  
}

.hero h1 span {
  position: relative;
  z-index: 1;
  padding: 0 5px;
  display: inline-block;
}

.hero h1 span:before {
  content: "";
  position: absolute;
  height: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  background: #27a776;
  z-index: -1;
}

.hero p {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 30px;
  font-size: 18px;
}

.computer__img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.computer__img img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1050px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 270px;
  }
  
}

@media screen and (max-width: 550px) {
  .hero {
    padding-top: 150px;
    padding-bottom: 170px;
  }

  
}

@media screen and (max-width: 380px) {
    .hero {
      padding-top: 10px;
      padding-bottom: 170px;
    }
    .computer__img img {
      padding-top: 0.5px;
}
}


