.footer {
  padding: 30px 0;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  background-color: #000000;
}

.footer .copyright {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.footer span {
  color:#FFAA33;
}